/*-- Media --*/

@media screen and (max-width: 900px),(min-width:460px;) {
  .navbar-Section .navbar .navbar-container .collapse .nav{
    display:block; text-align:left; padding:10px 0px;
    }
  /*--Landing Page - Hero Banner--*/
  .LandingBanner{ width:100%; }
  .LandingBanner .LandingBanner-Block .LandingBanner-BlockBox .LandingBanner-TextBlock{
    text-align:center;left:0%;top:0%;transform:translate(0%,100%);
    }
  .LandingBanner .LandingBanner-Block .LandingBanner-BlockBox .LandingBanner-TextBlock #TextBlock-Header{
    font-size:8.5vw;
    }
  .LandingBanner .LandingBanner-Block .LandingBanner-BlockBox .LandingBanner-TextBlock #TextBlock-Description{
    font-size:4.5vw;
    }
/*-- Introduction Section --*/
    .IntroSection{padding:50px 0px 25px 0px;}
    .IntroSection .IntroSection-Block{padding:0px;width:90%;}
/*-- About Section --*/
  .AboutContent{padding:0px 0px 40px 0px;}
  .AboutContent .AboutContent-Block .AboutContent-Row .AboutContent-RightCol .RightCol-InnerCol{
    padding:0px;
    }
  .AboutContent .AboutContent-Block .AboutContent-Row .AboutContent-RightCol .RightCol-InnerCol #RightCol-IntroLink{
    text-align:center;
    }
/*-- Landing Page - Quote Section --*/
  .BreakSection .BreakSection-Block{
    width:100%; padding:0px 0px;
    }
  .BreakSection .BreakSection-Block .SectionHeader{
    padding:0px 0px 10px 0px;
    }
  .BreakSection .BreakSection-Block .SectionHeader #SectionHeader-Title{
    font-size:3.5vw;
    }
/*-- Landing Page - Middle Section --*/
  .MiddleContent{padding:50px 0px 30px 0px !important; text-align:center;}
  .MiddleContent .MiddleContent-HeaderBlock{width:100%; margin:0px;}
/*-- Middle Section - Row --*/
  .MiddleContent .MiddleContent-Block .MiddleContent-Row{padding:20px 0px;}
  .MiddleContent .MiddleContent-Block .MiddleContent-Row .Row-LeftCol{padding:20px 0px;}
  .MiddleContent .MiddleContent-Block .MiddleContent-Row .Row-RightCol{padding:20px 0px;}
/*-- Carousel Section --*/
  .CarouselSection{margin:0px;}
  .CarouselSection .CarouselBlock-Header{width:100%; margin:0px;}
  .CarouselSection .CarouselBlock{width:90%; padding: 0px;}
  .CarouselSection .CarouselBlock .CarouselBlock-Slide{
    padding:0px 0px;
    }
  .CarouselSection .CarouselBlock .CarouselBlock-Slide .Slide-item{
    padding:0px 10px; margin:0px; width:80%;
    }
  .CarouselSection .CarouselBlock .CarouselBlock-Slide .Slide-item .Slide-itemBottom{
    visibility: hidden;display: none;clear: both;
    }
  .CarouselSection .CarouselBlock .CarouselBlock-Slide .slide-arrow{
    visibility: hidden; display:none; clear: both;
    }
/*-- Footer Section --*/
  .FooterSection .FooterBlock{height:auto; width:100%;}
  .FooterSection .FooterBlock .Block-LeftCol{padding:10px 0px;}
  .FooterSection .FooterBlock .Block-LeftCol #LeftCol-Title{margin:0px 0px;}
  .FooterSection .FooterBlock .Block-LeftCol .ContactForm{padding:0px;}
  .FooterSection .FooterBlock .Block-RightCol{padding:10px 0px;}
  .FooterSection .FooterBlock .Block-RightCol .RightCol-LinkBlock .LinkBlock .LinkBlock-Links{
    padding:10px 0px !important;
    }
  .FooterSection .FooterBlock .Block-RightCol .RightCol-LinkBlock #LinkBlock-Title{
    margin:0px;
    }
}
